In [29]:
import numpy as np
import scipy as sp
import matplotlib.pylab as plt
import pandas as pd
import os
from scipy.stats import norm

## Punto 1

In [42]:
def ENFICC(serie_horaria):  #Cálculo ENFICC 99%
    agnos=sorted(serie_horaria['AÑO'].unique())
    ghi_df=pd.DataFrame(columns=["AÑO","MES","DIAS","GHImes"])
    energia = list(serie_horaria)[-1]
    for agno in agnos:
        for mes in range(1,13):
            dias = sorted(serie_horaria[(serie_horaria['AÑO'] == agno) &
                        (serie_horaria['MES'] == mes)]["DIA"].unique())
            ghi_mes = serie_horaria.loc[((serie_horaria["AÑO"] == agno)
                            & (serie_horaria["MES"] == mes)),
                                        energia].sum()/1000
            ghi_dict = {"AÑO":agno, "MES":mes, "DIAS":dias[-1],
                        "GHImes":ghi_mes}
            ghi_df = ghi_df.append(ghi_dict, ignore_index=True)
        
        
    agnos2=sorted(ghi_df['AÑO'].unique())
    df_dias=pd.DataFrame(columns=["AÑO","MES","GHIdia"])
    for agno in agnos2:
        for mes in range(1,13):
            dia=ghi_df.loc[((ghi_df['AÑO']==agno) &
                                   (ghi_df['MES']==mes)),'DIAS'].item()
            ghi_diario=ghi_df.loc[((ghi_df['AÑO']==agno) & 
                                          (ghi_df['MES']==mes)),'GHImes'].item()/dia
            ghi_dict = {'AÑO':agno,'MES':mes,'GHIdia':ghi_diario}
            df_dias=df_dias.append(ghi_dict,ignore_index=True)
        
    ENFICC=df_dias.quantile(0.01,numeric_only=True)['GHIdia']
        
    return print('La ENFICC 99% es', ENFICC), df_dias

## Punto 2

In [2]:
def graficas(serie_ideam,serie_corregida,serie_NREL):
    serie_ideam=sorted(serie_ideam["GHIdia"])
    serie_corregida=sorted(serie_corregida["GHIdia"])
    serie_NREL=sorted(serie_NREL["GHIdia"])
    x1=list(range(len(serie_ideam)))
    x2=list(range(len(serie_corregida)))
    x3=list(range(len(serie_NREL)))
    plt.plot(x1,serie_ideam/serie_ideam[0],'r',label='IDEAM')
    plt.plot(x2,serie_corregida/serie_corregida[-1],'b',label='corregida')
    plt.plot(x3,serie_NREL/serie_NREL[-1],'g',label='NREL')
    plt.xlabel('datos')
    plt.ylabel('Energía/Energía base ideam')
    plt.legend()
    return plt.show()

## Punto 3

In [57]:
def MCP(serie_corta,serie_larga):
    ghi_obj=serie_corta['IDEAM'].mean()
    sigma_obj=serie_corta['IDEAM'].std()
    serie_larga_comun=serie_larga[(serie_larga['AÑO']>=(serie_corta.iloc[0,0])) & (serie_larga['AÑO']<=(serie_corta.iloc[-1,0])) 
                                  &(serie_larga['MES']>=(serie_corta.iloc[0,1])) & (serie_larga['MES']<=(serie_corta.iloc[-1,1])) ]
    ghi_ref=serie_larga_comun['NREL'].mean()
    sigma_ref=serie_larga_comun['NREL'].std()
    ghi_i=(ghi_obj-(sigma_obj/sigma_ref)*ghi_ref)+(sigma_obj/sigma_ref)*serie_larga['NREL']
    ghi_i[ghi_i<0]=0
    serie_larga['NREL']=ghi_i
    return serie_larga

## Punto 4

#### MBE

In [20]:
def MBE(serie_mod,serie_obs):
    serie_mod2=serie_mod[(serie_mod['AÑO'] >=serie_obs.iloc[0,0])]
    error=0
    sumatoria=0
    for i in range(0,len(serie_obs)):
        resta=serie_obs.iloc[i,4]-serie_mod2.iloc[i,4]
        error=error+resta
        sumatoria=sumatoria+serie_obs.iloc[i,4]
    resultado=error/sumatoria
    return print('El MBE es:',"{:.2%}".format(resultado) )

#### RMSE

In [26]:
def RMSE(serie_mod,serie_obs):
    serie_mod2=serie_mod[(serie_mod['AÑO'] >=serie_obs.iloc[0,0]) &(serie_mod['AÑO']<=serie_obs.iloc[-1,0])]
    error=0
    for i in range(0,len(serie_obs)):
        resta=(serie_obs.iloc[i,4]-serie_mod2.iloc[i,4])**2
        error=error+resta
    error=sqrt(error/len(serie_obs))
    resultado=error/(serie_obs['IDEAM'][serie_obs['IDEAM'].idxmax()]-serie_obs['IDEAM'][serie_obs['IDEAM'].idxmin()])
    return print('El RMSE es:',"{:.2%}".format(resultado) )

#### PVALUE

In [3]:
def KSI(serie_mod,serie_obs):
    serie_mod2=serie_mod[(serie_mod['AÑO'] >=serie_obs.iloc[0,0]) &(serie_mod['AÑO']<=serie_obs.iloc[-1,0])]
    error=sp.stats.ks_2samp(serie_mod2['IDEAM'],serie_obs['NREL'])
    return print('El pvalue es:',error[-1])

# Análisis

In [35]:
ruta_entrada= os.path.join( '.','data')
ruta_salida = os.path.join( '.','output')
datos_valledupar = 'Valledupar'
datos_ideam_valledupar = 'IDEAM'
ruta_serie_valledupar_ideam= os.path.join(ruta_entrada,datos_valledupar,datos_ideam_valledupar+'.csv')
ideam_valledupar= pd.read_csv(ruta_serie_valledupar_ideam, sep = ';',
                encoding='latin-1')

datos_nrel_valledupar = 'NREL'
ruta_serie_valledupar_nrel= os.path.join(ruta_entrada,datos_valledupar,datos_nrel_valledupar+'.csv')
nrel_valledupar= pd.read_csv(ruta_serie_valledupar_nrel, sep = ';',
                encoding='latin-1')

In [38]:
serie_corta=ideam_valledupar[(ideam_valledupar['AÑO']==2010)]
serie_corta

        AÑO  MES  DIA  HORA       IDEAM
35064  2010    1    1     0    0.000000
35065  2010    1    1     1    0.000000
35066  2010    1    1     2    0.000000
35067  2010    1    1     3    0.000000
35068  2010    1    1     4    0.000000
35069  2010    1    1     5    0.000000
35070  2010    1    1     6    0.000000
35071  2010    1    1     7   34.099898
35072  2010    1    1     8  226.977448
35073  2010    1    1     9  444.364299
35074  2010    1    1    10  628.716874
35075  2010    1    1    11  758.722736
35076  2010    1    1    12  807.741340
35077  2010    1    1    13  817.331936
35078  2010    1    1    14  742.738409
35079  2010    1    1    15  608.470059
35080  2010    1    1    16  421.986241
35081  2010    1    1    17  204.599389
35082  2010    1    1    18   20.246815
35083  2010    1    1    19    0.000000
35084  2010    1    1    20    0.000000
35085  2010    1    1    21    0.000000
35086  2010    1    1    22    0.000000
35087  2010    1    1    23    0.000000
35088  2010    1    2     0    0.000000
35089  2010    1    2     1    0.000000
35090  2010    1    2     2    0.000000
35091  2010    1    2     3    0.000000
35092  2010    1    2     4    0.000000
35093  2010    1    2     5    0.000000
...     ...  ...  ...   ...         ...
43794  2010   12   30    18   13.853084
43795  2010   12   30    19    0.000000
43796  2010   12   30    20    0.000000
43797  2010   12   30    21    0.000000
43798  2010   12   30    22    0.000000
43799  2010   12   30    23    0.000000
43800  2010   12   31     0    0.000000
43801  2010   12   31     1    0.000000
43802  2010   12   31     2    0.000000
43803  2010   12   31     3    0.000000
43804  2010   12   31     4    0.000000
43805  2010   12   31     5    0.000000
43806  2010   12   31     6    0.000000
43807  2010   12   31     7   37.296764
43808  2010   12   31     8  238.699288
43809  2010   12   31     9  453.954895
43810  2010   12   31    10  634.044983
43811  2010   12   31    11  823.701201
43812  2010   12   31    12  827.988154
43813  2010   12   31    13  808.806961
43814  2010   12   31    14  750.197761
43815  2010   12   31    15  609.535681
43816  2010   12   31    16  420.920619
43817  2010   12   31    17  203.533768
43818  2010   12   31    18   15.984327
43819  2010   12   31    19    0.000000
43820  2010   12   31    20    0.000000
43821  2010   12   31    21    0.000000
43822  2010   12   31    22    0.000000
43823  2010   12   31    23    0.000000

[8760 rows x 5 columns]

In [56]:
MCP(serie_corta,nrel_valledupar)

        AÑO  MES  DIA  HORA        NREL
0      2005    1    1     0    0.000000
1      2005    1    1     1    0.000000
2      2005    1    1     2    0.000000
3      2005    1    1     3    0.000000
4      2005    1    1     4    0.000000
5      2005    1    1     5    0.000000
6      2005    1    1     6    4.761983
7      2005    1    1     7  153.921479
8      2005    1    1     8  358.959458
9      2005    1    1     9  544.169588
10     2005    1    1    10  682.964527
11     2005    1    1    11  761.825288
12     2005    1    1    12  773.091111
13     2005    1    1    13  717.212629
14     2005    1    1    14  598.245539
15     2005    1    1    15  429.708826
16     2005    1    1    16  230.529076
17     2005    1    1    17   38.108819
18     2005    1    1    18    0.000000
19     2005    1    1    19    0.000000
20     2005    1    1    20    0.000000
21     2005    1    1    21    0.000000
22     2005    1    1    22    0.000000
23     2005    1    1    23    0.000000
24     2005    1    2     0    0.000000
25     2005    1    2     1    0.000000
26     2005    1    2     2    0.000000
27     2005    1    2     3    0.000000
28     2005    1    2     4    0.000000
29     2005    1    2     5    0.000000
...     ...  ...  ...   ...         ...
96378  2015   12   30    18    0.000000
96379  2015   12   30    19    0.000000
96380  2015   12   30    20    0.000000
96381  2015   12   30    21    0.000000
96382  2015   12   30    22    0.000000
96383  2015   12   30    23    0.000000
96384  2015   12   31     0    0.000000
96385  2015   12   31     1    0.000000
96386  2015   12   31     2    0.000000
96387  2015   12   31     3    0.000000
96388  2015   12   31     4    0.000000
96389  2015   12   31     5    0.000000
96390  2015   12   31     6    6.564515
96391  2015   12   31     7  153.470846
96392  2015   12   31     8  354.903762
96393  2015   12   31     9  536.508828
96394  2015   12   31    10  673.501236
96395  2015   12   31    11  751.911364
96396  2015   12   31    12  764.529086
96397  2015   12   31    13  709.101237
96398  2015   12   31    14  591.936678
96399  2015   12   31    15  423.850598
96400  2015   12   31    16  194.027809
96401  2015   12   31    17   41.263249
96402  2015   12   31    18    0.000000
96403  2015   12   31    19    0.000000
96404  2015   12   31    20    0.000000
96405  2015   12   31    21    0.000000
96406  2015   12   31    22    0.000000
96407  2015   12   31    23    0.000000

[96408 rows x 5 columns]

In [44]:
nrel_valledupar

        AÑO  MES  DIA  HORA   NREL
0      2005    1    1     0    0.0
1      2005    1    1     1    0.0
2      2005    1    1     2    0.0
3      2005    1    1     3    0.0
4      2005    1    1     4    0.0
5      2005    1    1     5    0.0
6      2005    1    1     6   14.0
7      2005    1    1     7  179.5
8      2005    1    1     8  407.0
9      2005    1    1     9  612.5
10     2005    1    1    10  766.5
11     2005    1    1    11  854.0
12     2005    1    1    12  866.5
13     2005    1    1    13  804.5
14     2005    1    1    14  672.5
15     2005    1    1    15  485.5
16     2005    1    1    16  264.5
17     2005    1    1    17   51.0
18     2005    1    1    18    0.0
19     2005    1    1    19    0.0
20     2005    1    1    20    0.0
21     2005    1    1    21    0.0
22     2005    1    1    22    0.0
23     2005    1    1    23    0.0
24     2005    1    2     0    0.0
25     2005    1    2     1    0.0
26     2005    1    2     2    0.0
27     2005    1    2     3    0.0
28     2005    1    2     4    0.0
29     2005    1    2     5    0.0
...     ...  ...  ...   ...    ...
96378  2015   12   30    18    0.0
96379  2015   12   30    19    0.0
96380  2015   12   30    20    0.0
96381  2015   12   30    21    0.0
96382  2015   12   30    22    0.0
96383  2015   12   30    23    0.0
96384  2015   12   31     0    0.0
96385  2015   12   31     1    0.0
96386  2015   12   31     2    0.0
96387  2015   12   31     3    0.0
96388  2015   12   31     4    0.0
96389  2015   12   31     5    0.0
96390  2015   12   31     6   16.0
96391  2015   12   31     7  179.0
96392  2015   12   31     8  402.5
96393  2015   12   31     9  604.0
96394  2015   12   31    10  756.0
96395  2015   12   31    11  843.0
96396  2015   12   31    12  857.0
96397  2015   12   31    13  795.5
96398  2015   12   31    14  665.5
96399  2015   12   31    15  479.0
96400  2015   12   31    16  224.0
96401  2015   12   31    17   54.5
96402  2015   12   31    18    0.0
96403  2015   12   31    19    0.0
96404  2015   12   31    20    0.0
96405  2015   12   31    21    0.0
96406  2015   12   31    22    0.0
96407  2015   12   31    23    0.0

[96408 rows x 5 columns]

In [ ]:
corta_mes=